@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Variables
$font: 'Montserrat', sans-serif;
$button: rgb(255, 255, 255);
$button-hover: rgb(245, 245, 245);

// Media Queries
$extra-small: 320px;
$small: 375px;
$medium: 768px;


@import './Components/LocationAPI/LocationAPI';
@import './Components/getWeatherLocation/getWeatherLocation';
@import './Components/TrailsData/TrailsData';


body{
  background-color: rgb(225, 225, 225);
}

.App {
  text-align: center;

  header {

    img {
      @media screen and (max-width:  $medium) {
        width: 75%;

      }
    }
  }
}

